*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  padding: 30px 100px;
}

.content {
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
}

.image {
  height: 500px;
  object-fit: contain;
  margin-bottom: 15px;
}

h1 {
  display: flex;
  justify-content: center;
}

.plates {
  height: 300px;
  object-fit: contain;
  margin-top: 10px;
  margin-bottom: 15px;
}

.house {
  height: 500px;
  object-fit: contain;
  margin-bottom: 15px;
  margin-top: 15px;
}

.buttons {
  border: none;
  border-radius: 25px;
  background-color: #00d0ff;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  padding: 20px 50px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.buttons:hover {
  opacity: 0.5;
}

.buttons:active {
  opacity: 0.2;
}